[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #f86546;
  --md-primary-fg-color--transparent: rgba(248, 101, 70, 0.1);
  --md-accent-fg-color: #eb6f5c;
  --md-accent-bg-color: rgba(235, 111, 92, 0.1);

  --md-default-bg-color: #282a36;
  --md-main-bg-color: #282a36;          
  
  --md-code-bg-color: #1e1f29;          
  --md-footer-bg-color: #1e1f29;
}

.md-header {
  background-image: url("../assets/banner.png");
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  color: #ffffff; 
}

:root {
  --md-code-hl-number-color: #eb6f5c;   
  --md-code-hl-keyword-color: #f86546;  
}